.name{
    background: green;

    main{
        input{
            width: 190px;
            padding: 10px;
            border-radius: 20px;
            outline: none;
            border: none;
            margin: 200px  0 0 600px;
            &:focus{
                border: 2px solid red;
            }
        }

        button{
            width: 100px;
            padding: 10px;
            margin-left: 660px;
            margin-top: 40px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 15px;
        }
        a{
            text-decoration: none;

        }
    }
}