@import './setup';   

@mixin powerStyle ($width, $height, $left, $top, $background) {
    width: $width;
    height: $height;
    background: $background;
    position: absolute;
    top: $top;
    left: $left;
    border-radius: 7px;
}

@mixin buttonStyle ($width, $margin-top){
    width: $width;
    height: 25px;
    margin-top: $margin-top;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: 0.8s;
    &:hover{
        background: white;
        color: rgb(10, 143, 187);     
}
}

@import './main';
@import './group';
@import './login';
@import './signup';
@import './forgot';
@import './password';
@import './index';


@media (min-width: 1200px) {
    // @import './media/large';
    // @import './login/loginL';
    @import './index/indexL';
}   
@media (max-width: 992px) {
    // @import './media/normal';
    @import './index/indexN';
    // @import './login/loginN';
}
@media (max-width: 765px) {
    // @import './media/tablet';
    // @import './login/loginT';
    @import './index/indexT';
}
@media (max-width: 576px) {
    // @import './media/mobile';
//    @import './login/loginM';  
    @import './index/indexM';
}




 