header {
    font-family: 'Catamaran', sans-serif;
    width: 100%;
    height: 170px;
    position: relative;

    .centerDiv {
        width: 90%;
        height: 70px;
        margin: 10px auto;
        justify-content: space-between;
        display: flex;
        //   background: red;

        .logoDiv {
            width: 80px;
            height: 70px;
            // background: yellow;
            // background-image: url(/Images/UserLogo.png);
            background-repeat: no-repeat;
            background-size: cover;

            img {
                width: inherit;
                height: 70px;
            }
        }
        .icon{
            display: none;
        }

        nav {
            margin-top: 20px;
            font-size: 18px;
            display: block;


            ul {
                li {

                    display: inline;

                    a {
                        color: black;
                        text-decoration: none;
                        margin-left: 10px;

                        &:hover {
                            color: blue;
                        }
                    }
                }
            }
        }
    }

    .coverDiv {
        width: 100%;
        height: 80vh;
        margin-top: -10px;
        background-image: url(/Images/Background-pic.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        img {
            width: inherit;
            height: inherit;
        }
    }

    .containerDiv {
        width: 100%;
        height: 80vh;
        background: rgba(1, 1, 45, 0.631);
        position: absolute;
        top: 70px;
        text-align: center;
        color: white;

        h1 {
            font-size: 80px;
            margin-top: 150px;
            line-height: 80px;
        }

        p {
            font-size: 20px;
        }

        button {
            margin-top: 20px;
            border: none;
            outline: none;
            padding: 10px 30px 10px 30px;
            margin-left: 10px;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                background: rgb(91, 91, 255);
            }

            a {
                text-decoration: none;
                font-size: 19px;
                color: black;

                &:hover {
                    color: white;
                }
            }

        }

    }
}

section {

    .smallParagraph {
        text-align: center;
        width: 100%;
        height: 30vh;
        // background: red;
        color: black;
        position: absolute;
        top: 600px;

        h1{
            margin-top: 40px;
            font-size: 60px;
            font-family: 'Catamaran', sans-serif;
        }
        p{
            font-family: 'Catamaran', sans-serif;
            width: 50%;
            margin-left: 300px;
        }
    }
    
}

footer{
    width: 100%;
    height: 10vh;
    background: rgba(214, 214, 247, 0.249);
    position: absolute;
    top: 900px;
    font-family: 'Catamaran', sans-serif;

    .centerDiv {
        width: 90%;
        height: 5vh;
        margin: 10px auto;
        justify-content: space-between;
        display: flex;
        //   background: red;

        .logoDiv {
            width: 80px;
            height: inherit;
            // background: yellow;
            // background-image: url(/Images/UserLogo.png);
            background-repeat: no-repeat;
            background-size: cover;

          
        }


        nav {
            margin-top: 10px;
            font-size: 18px;

            ul {
                li {

                    display: inline;

                    a {
                        color: black;
                        text-decoration: none;
                        margin-left: 10px;

                        &:hover {
                            color: blue;
                        }
                    }
                }
            }
        }
    }
}